#collection {
    width: 45%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    border-radius: 10px;
}

#collectedmonster {
    flex: 1 0 25%;
    margin: auto;
    padding: 20px;
}
#collectedmonster > img {
    height: 100px;
    width: 100px;
}
@media only screen and (max-width: 980px) {
    #collectedmonster > img {
      height: 50px;
      width: 50px;
    }
}

#monster { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 400px;
}

#monster > img {
    height: 180px;
    width: 180px;
}