.App {
  text-align: center;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: solid 2px black;
  box-shadow: 1px 3px rgba(0,0,0,0.2);
}
button:hover {
  cursor: pointer;
}